#tetris-container{
    width: 750px;
    height: 500px;
    margin: auto;
    text-align: center;
}

#tetris-canvas{
    float: left;
    width: 500px;
    height: 500px;
}

#tetris-ui{
    float: left;
    width: 250px;
    height: 500px;
    background-color: lightgray;
}

p{
    font-variant: small-caps;
    font-weight: bold;
}

.metric{
    background-color: aliceblue;
    margin: 0 20px;
}