#tetris-container{
    width: 750px;
    height: 550px;
    margin: 20px auto;
    text-align: center;
}

#tetris-container
#tetris-game-window{
    position: relative;
    float: left;
    width: 500px;
    height: 550px;
    background-color: black;
}

#tetris-container
#tetris-message{
    height: 50px;
    line-height: 50px;
    margin: 0;
}

#tetris-container
#tetris-ui{
    float: left;
    width: 250px;
    height: 550px;
    background-color: blueviolet;
}

#tetris-container
p{
    font-variant: small-caps;
    font-weight: bold;
    color: white;
    font-size: 17px;
    font-family: monospace;
    margin: 10px;
}

#tetris-container
.metric{
    background-color: black;
    margin: 0 20px;
    padding: 10px;
    color: white;
    font-family: fantasy;
    font-size: 24px;
}

#tetris-container
#tetris-gravity-switch-label{
    margin: 10px 0 0 0;
}

#tetris-container
.tetris-prompt{
    visibility: hidden;
    position: absolute;
    top: 222px;
    left: 50px;
    width: 400px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    background-color: white;
    border-style: double;
    border-color: maroon;
    border-width: 5px;
}

#tetris-container
.tetris-prompt p{
    color: maroon;
    padding: 0;
    margin: 0;
}